<a href="https://colab.research.google.com/github/CheboluGayatri/3skills_AIml_Internship/blob/main/3skills_day6_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(ord('A'))
print(chr(65))

65
A

In [9]:
# create a dict
student={"name":"aarushi","age":"18","course":"Btech","marks":"90"}
print("orginal dictionary:")
print(student)

#Accessing values
print("\naccessing values:")
print("name:",student["name"])

#updating marks
print("\n updating marks:")
student["marks"]=95
print(student)

#adding college
print("\n adding college:")
student["college"]="xyz"
print(student)

#keys
print("\n keys")
print(student.keys())

#values
print("\n values")
print(student.values())

#items
print("\n items")
print(student.items())

#get
print("\n get")
print(student.get("name"))

#default
student.setdefault("city","lucknow")
print("\n after setdefault():")
print(student)

#pop
student.pop("age")
print("\n after pop")
print(student)
#pop items
student.popitem()
print("\n after popitem()")
print(student)

#delete
del student["course"]
print("\n after del course")
print(student)

orginal dictionary:
{'name': 'aarushi', 'age': '18', 'course': 'Btech', 'marks': '90'}

accessing values:
name: aarushi

 updating marks:
{'name': 'aarushi', 'age': '18', 'course': 'Btech', 'marks': 95}

 adding college:
{'name': 'aarushi', 'age': '18', 'course': 'Btech', 'marks': 95, 'college': 'xyz'}

 keys
dict_keys(['name', 'age', 'course', 'marks', 'college'])

 values
dict_values(['aarushi', '18', 'Btech', 95, 'xyz'])

 items
dict_items([('name', 'aarushi'), ('age', '18'), ('course', 'Btech'), ('marks', 95), ('college', 'xyz')])

 get
aarushi

 after setdefault():
{'name': 'aarushi', 'age': '18', 'course': 'Btech', 'marks': 95, 'college': 'xyz', 'city': 'lucknow'}

 after pop
{'name': 'aarushi', 'course': 'Btech', 'marks': 95, 'college': 'xyz', 'city': 'lucknow'}

 after popitem()
{'name': 'aarushi', 'course': 'Btech', 'marks': 95, 'college': 'xyz'}

 after del course
{'name': 'aarushi', 'marks': 95, 'college': 'xyz'}

In [12]:
#create a set
numbers={10,20,30,40}
print("original set:", numbers)

#check membership
print("\nmembership check:")
print(20 in numbers)
print(50 in numbers)

#add the elements
numbers.add(50)
print("\n after adding 50:",numbers)

set1={1,2,3}
set2={4,5,3}
#union
print(set1.union(set2))

#intersection
print("\n intersection:")
print(set.intersection(set2))

#difference
print("\n difference")
print(set1.difference(set2))

#symmetric diff
print("\n symmetric diff:")
print(set1.symmetric_difference(set2))

original set: {40, 10, 20, 30}

membership check:
True
False

 after adding 50: {40, 10, 50, 20, 30}
{1, 2, 3, 4, 5}

 intersection:
{3, 4, 5}

 difference
{1, 2}

 symmetric diff:
{1, 2, 4, 5}