<a href="https://colab.research.google.com/github/CheboluGayatri/3skills_AIml_Internship/blob/main/day2_3skills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello")# this is first code

Hello

**1.Single line comment**

'#' used for single line comment

**Multiple line commentt**
'''this is multiple line commment'''

In [2]:
name='sid'
Name='raghav'
print(name)
print(Name) # python is case sensitive

sid
raghav

**2.Variables examples & Data Types**

In [3]:
 name="Gayatri" #string
 age=20 #int
 height=5.9 #float
 print(type(name))
 print(type(age))
 print(type(height))

<class 'str'>
<class 'int'>
<class 'float'>

**3.Operators**
operators are symbol that perform operations that are addition,sub,mul,div

In [4]:
#1.Arthematic operator
a=10
b=5
print("addition:",a+b)
print("substraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Modules:",a%b)
print("floordivision:",a//b)

addition: 15
substraction: 5
Multiplication: 50
Division: 2.0
Modules: 0
floordivision: 2

In [6]:
#2.Comparision Operator
a=10
b=5
print("a is greater:",a>b)
print("a is less:",a<b)

a is greater: True
a is less: False

In [10]:
#3.Logical Operator
x=10
y=5
print(x and y)
print(x or y)

5
10

**4.Input and Output function**
python can take input from user and display output
we use:

1.input()-to take input(always return a string)

2.int()or float()-convert input to number

print()- to display output

In [15]:
age=input("enter your age:")
print(age)
print(type(age))
print("hello world")

enter your age:24
24
<class 'str'>
hello world

In [16]:
#use input function
name=input("enter your name :")
print(name)
print(f"hello,{name}")
Dob=input("enter your date of birth:")
birth_year=int(Dob)
current_age=2025-birth_year
print(current_age)

enter your name :Gyatri
Gyatri
hello,Gyatri
enter your date of birth:2005
20

**5.String-Basics**
strings are sequence of characters

In [18]:
full_name="Gayatri"
print("full name :" + full_name)

full name :Gayatri

In [19]:
text="Python is fun"
#Access charcaters
print(text[0])
print(text[1])
print(text[-1])

P
y
n

In [24]:
#slicing
print(text[0:6]) #python
print((text[7:-1]))

Python
is fu

In [25]:
# String Methods
print(text.upper())
print(text.lower())
print(text.replace("fun","awersome"))
print(text.replace("is","that"))
print("Length:",len(text))

PYTHON IS FUN
python is fun
Python is awersome
Python that fun
Length: 13

In [28]:
#concatenation
#used to add to sentences
name="Gayatri"
greet="Hello" +  name
print(greet)

HelloGayatri

**6.Mini Exercise**

In [29]:
sen=input("Enter a sen:")
print("rev:",sen[::-1])

Enter a sen:What is your name
rev: eman ruoy si tahW